   <!-- Upload form end  -->
   <hr>
   <br>
   <div class="row">
     <% images.forEach(function(image){ %>

       <div class="column">

         <img src="<%= image.path %>" class="responsive-img" alt="<%= image.name %>">
       </div>
     <% }); %> 
   </div>