   <!-- Upload form end  -->
   <hr>
   <br>
   <div class="row">
     <% images.forEach(function(image){ %>

       <div class="column">

        <a href="/image/<%= image._id %>"> <img src="<%= image.path %>" class="responsive-img" alt="<%= image.name %>"> </a>

       </div>
     <% }); %> 
   </div>